name: Create thumbnails
on: [push]
jobs:
  build:
    if: github.event.head_commit.message != 'Update README.md and image_thumbnails'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - name: generate_thumbnails
        uses: KukovecRok/thumbnails-readme-action@v4.0      
