name: Generate Thumbnails
on:
  push:
    branches:
      - main  # 或是您專案預設的分支名稱（如 master）

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Generate Thumbnails and Update README
        # 將 v1.0.0 改為 main
        uses: firefly-cpp/thumbnails-readme@main 
        with:
          images_path: 'images'     
          thumbnails_path: 'thumbs' 
          recursive: true           
          width: '200px'

      - name: Commit and Push Changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "docs: auto-generate thumbnails" || echo "No changes to commit"
          git push
