name: Generate Grouped Thumbnails

on:
  push:
    paths:
      - 'images/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Generate Grouped Thumbnails
        uses: firefly-cpp/thumbnails-readme-action@v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          source: 'images'        # 指向父目錄，會依據子目錄分組
          output: 'thumbnails'    # 縮圖存放路徑
          sizes: '250'            # 縮圖寬度
