name: Generate Thumbnails
on:
  push:
    paths:
      - 'images/**' # 當 images 資料夾有變動時觸發
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Generate Thumbnails and Update README
        uses: firefly-cpp/thumbnails-readme-action@v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          source: 'images'        # 原始圖片路徑
          output: 'thumbnails'    # 縮圖存放路徑
          sizes: '200'            # 縮圖寬度
